* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: monospace;
}

main {
    display    : grid;
    place-items: center;
}

.user_Input_Area {
    margin     : 20px auto;
    padding    : 20px;
    width      : 55%;
    text-align : center;
    line-height: 40px;
    border     : 1px solid orange;
}

.user_Input_Area select {
    padding   : 5px 15px;
    margin-top: 15px;
    font-size : 30px;
    cursor    : pointer;
    outline   : 0;
}

#btnClear {
    padding     : 10px;
    margin      : 10px;
    cursor      : pointer;
}